.ThemesBrandSecondary {
  --component-section-button-color-1: undefined;
  --component-video-card-item-button-1-color: undefined;
  --component-x-accordion-x-toggle-hover: var(--color-general-text-white);
  --component-x-feature-x-button-color-1: undefined;
  --component-x-feature-x-button-color-2: undefined;
  --component-x-feature-x-title: var(--color-theme-alt-4-on-surface-text-primary);
  --component-x-promo-x-button-color-1: undefined;
  --component-x-promo-x-button-color-2: undefined;
  --component-x-quote-x-star-bg: var(--color-black-alpha-5);
  --component-xxx-card-item-x-button-1-color: undefined;
  --component-xxx-card-item-x-button-2-color: undefined;
  --component-xxx-file-list-x-button-color-1: undefined;
  --component-xxx-hero-x-button-color-1: white;
  --component-xxx-hero-x-image-border: undefined;
  --component-xxx-hero-x-surface: undefined;
  --componentTheme---bg-bg: var(--color-theme-alt-4-on-bg-bg);
  --componentTheme---bg-border: var(--color-theme-alt-4-on-bg-border);
  --componentTheme---bg-fill: var(--color-theme-alt-4-on-bg-fill);
  --componentTheme---bg-fill-subtle: var(--color-theme-alt-4-on-bg-fill-subtle);
  --componentTheme---bg-icon: var(--color-theme-alt-4-on-bg-icon);
  --componentTheme---bg-interaction-action: var(--color-theme-alt-4-on-bg-interaction-action);
  --componentTheme---bg-interaction-action-2: var(--color-theme-alt-4-on-bg-interaction-action-2);
  --componentTheme---bg-interaction-action-fg: var(--color-theme-alt-4-on-bg-interaction-action-fg);
  --componentTheme---bg-interaction-action-fg-2: var(--color-theme-alt-4-on-bg-interaction-action-fg-2);
  --componentTheme---bg-interaction-action-fg-hover: var(--color-theme-alt-4-on-bg-interaction-action-fg-hover);
  --componentTheme---bg-interaction-action-hover: var(--color-theme-alt-4-on-bg-interaction-action-hover);
  --componentTheme---bg-interaction-action-outline: var(--color-theme-alt-4-on-bg-interaction-action-outline);
  --componentTheme---bg-interaction-border-disabled: var(--color-theme-alt-4-on-bg-interaction-border-disabled);
  --componentTheme---bg-interaction-border-focus: var(--color-theme-alt-4-on-bg-interaction-border-focus);
  --componentTheme---bg-interaction-border-hover: var(--color-theme-alt-4-on-bg-interaction-border-hover);
  --componentTheme---bg-interaction-border-selected: var(--color-theme-alt-4-on-bg-interaction-border-selected);
  --componentTheme---bg-interaction-fill-disabled: var(--color-theme-alt-4-on-bg-interaction-fill-disabled);
  --componentTheme---bg-interaction-fill-hover: var(--color-theme-alt-4-on-bg-interaction-fill-hover);
  --componentTheme---bg-interaction-fill-selected: var(--color-theme-alt-4-on-bg-interaction-fill-selected);
  --componentTheme---bg-interaction-focus: var(--color-theme-alt-4-on-bg-interaction-focus);
  --componentTheme---bg-interaction-hover-alpha: var(--color-theme-alt-4-on-bg-interaction-hover-alpha);
  --componentTheme---bg-interaction-icon-disabled: var(--color-theme-alt-4-on-bg-interaction-icon-disabled);
  --componentTheme---bg-interaction-icon-hover: var(--color-theme-alt-4-on-bg-interaction-icon-hover);
  --componentTheme---bg-interaction-icon-selected: var(--color-theme-alt-4-on-bg-interaction-icon-selected);
  --componentTheme---bg-interaction-link-link: var(--color-theme-alt-4-on-bg-interaction-link-link);
  --componentTheme---bg-interaction-link-link-hover: var(--color-theme-alt-4-on-bg-interaction-link-link-hover);
  --componentTheme---bg-interaction-link-link-underline: var(--color-theme-alt-4-on-bg-interaction-link-link-underline);
  --componentTheme---bg-interaction-opacity-disabled: var(--color-theme-alt-4-on-bg-interaction-opacity-disabled);
  --componentTheme---bg-interaction-pressed-alpha: var(--color-theme-alt-4-on-bg-interaction-pressed-alpha);
  --componentTheme---bg-text-primary: var(--color-theme-alt-4-on-bg-text-primary);
  --componentTheme---bg-text-secondary: var(--color-theme-alt-4-on-bg-text-secondary);
  --componentTheme---surface-border: var(--color-theme-alt-4-on-surface-border);
  --componentTheme---surface-fill: var(--color-theme-alt-4-on-surface-fill);
  --componentTheme---surface-fill-subtle: var(--color-theme-alt-4-on-surface-fill-subtle);
  --componentTheme---surface-icon: var(--color-theme-alt-4-on-surface-icon);
  --componentTheme---surface-interaction-action: var(--color-theme-alt-4-on-surface-interaction-action);
  --componentTheme---surface-interaction-action-2: var(--color-theme-alt-4-on-surface-interaction-action-2);
  --componentTheme---surface-interaction-action-fg: var(--color-theme-alt-4-on-surface-interaction-action-fg);
  --componentTheme---surface-interaction-action-fg-2: var(--color-theme-alt-4-on-surface-interaction-action-fg-2);
  --componentTheme---surface-interaction-action-fg-hover: var(--color-theme-alt-4-on-surface-interaction-action-fg-hover);
  --componentTheme---surface-interaction-action-hover: var(--color-theme-alt-4-on-surface-interaction-action-hover);
  --componentTheme---surface-interaction-action-outline: var(--color-theme-alt-4-on-surface-interaction-action-outline);
  --componentTheme---surface-interaction-border-disabled: var(--color-theme-alt-4-on-surface-interaction-border-disabled);
  --componentTheme---surface-interaction-border-focus: var(--color-theme-alt-4-on-surface-interaction-border-focus);
  --componentTheme---surface-interaction-border-hover: var(--color-theme-alt-4-on-surface-interaction-border-hover);
  --componentTheme---surface-interaction-border-selected: var(--color-theme-alt-4-on-surface-interaction-border-selected);
  --componentTheme---surface-interaction-fill-disabled: var(--color-theme-alt-4-on-surface-interaction-fill-disabled);
  --componentTheme---surface-interaction-fill-hover: var(--color-theme-alt-4-on-surface-interaction-fill-hover);
  --componentTheme---surface-interaction-fill-selected: var(--color-theme-alt-4-on-surface-interaction-fill-selected);
  --componentTheme---surface-interaction-focus: var(--color-theme-alt-4-on-surface-interaction-focus);
  --componentTheme---surface-interaction-hover-alpha: var(--color-theme-alt-4-on-surface-interaction-hover-alpha);
  --componentTheme---surface-interaction-icon-disabled: var(--color-theme-alt-4-on-surface-interaction-icon-disabled);
  --componentTheme---surface-interaction-icon-hover: var(--color-theme-alt-4-on-surface-interaction-icon-hover);
  --componentTheme---surface-interaction-icon-selected: var(--color-theme-alt-4-on-surface-interaction-icon-selected);
  --componentTheme---surface-interaction-link-link: var(--color-theme-alt-4-on-surface-interaction-link-link);
  --componentTheme---surface-interaction-link-link-hover: var(--color-theme-alt-4-on-surface-interaction-link-link-hover);
  --componentTheme---surface-interaction-link-link-underline: var(--color-theme-alt-4-on-surface-interaction-link-link-underline);
  --componentTheme---surface-interaction-opacity-disabled: var(--color-theme-alt-4-on-surface-interaction-opacity-disabled);
  --componentTheme---surface-interaction-pressed-alpha: var(--color-theme-alt-4-on-surface-interaction-pressed-alpha);
  --componentTheme---surface-interaction-surface-disabled: var(--color-theme-alt-4-on-surface-interaction-surface-disabled);
  --componentTheme---surface-interaction-surface-fg-hover: var(--color-theme-alt-4-on-surface-interaction-surface-fg-hover);
  --componentTheme---surface-interaction-surface-hover: var(--color-theme-alt-4-on-surface-interaction-surface-hover);
  --componentTheme---surface-interaction-surface-selected: var(--color-theme-alt-4-on-surface-interaction-surface-selected);
  --componentTheme---surface-interaction-surface-text-selected: var(--color-theme-alt-4-on-surface-interaction-surface-text-selected);
  --componentTheme---surface-surface: var(--color-theme-alt-4-on-surface-surface);
  --componentTheme---surface-text-primary: var(--color-theme-alt-4-on-surface-text-primary);
  --componentTheme---surface-text-secondary: var(--color-theme-alt-4-on-surface-text-secondary);
  --componentTheme---surface-alternate-border: var(--color-theme-alt-4-on-surface-alternate-border);
  --componentTheme---surface-alternate-fill: var(--color-theme-alt-4-on-surface-alternate-fill);
  --componentTheme---surface-alternate-fill-subtle: var(--color-theme-alt-4-on-surface-alternate-fill-subtle);
  --componentTheme---surface-alternate-icon: var(--color-theme-alt-4-on-surface-alternate-icon);
  --componentTheme---surface-alternate-interaction-action: var(--color-theme-alt-4-on-surface-alternate-interaction-action);
  --componentTheme---surface-alternate-interaction-action-2: var(--color-theme-alt-4-on-surface-alternate-interaction-action-2);
  --componentTheme---surface-alternate-interaction-action-fg: var(--color-theme-alt-4-on-surface-alternate-interaction-action-fg);
  --componentTheme---surface-alternate-interaction-action-fg-2: var(--color-theme-alt-4-on-surface-alternate-interaction-action-fg-2);
  --componentTheme---surface-alternate-interaction-action-fg-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-action-fg-hover);
  --componentTheme---surface-alternate-interaction-action-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-action-hover);
  --componentTheme---surface-alternate-interaction-action-outline: var(--color-theme-alt-4-on-surface-alternate-interaction-action-outline);
  --componentTheme---surface-alternate-interaction-border-disabled: var(--color-theme-alt-4-on-surface-alternate-interaction-border-disabled);
  --componentTheme---surface-alternate-interaction-border-focus: var(--color-theme-alt-4-on-surface-alternate-interaction-border-focus);
  --componentTheme---surface-alternate-interaction-border-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-border-hover);
  --componentTheme---surface-alternate-interaction-border-selected: var(--color-theme-alt-4-on-surface-alternate-interaction-border-selected);
  --componentTheme---surface-alternate-interaction-fill-disabled: var(--color-theme-alt-4-on-surface-alternate-interaction-fill-disabled);
  --componentTheme---surface-alternate-interaction-fill-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-fill-hover);
  --componentTheme---surface-alternate-interaction-fill-selected: var(--color-theme-alt-4-on-surface-alternate-interaction-fill-selected);
  --componentTheme---surface-alternate-interaction-focus: var(--color-theme-alt-4-on-surface-alternate-interaction-focus);
  --componentTheme---surface-alternate-interaction-hover-alpha: var(--color-theme-alt-4-on-surface-alternate-interaction-hover-alpha);
  --componentTheme---surface-alternate-interaction-icon-disabled: var(--color-theme-alt-4-on-surface-alternate-interaction-icon-disabled);
  --componentTheme---surface-alternate-interaction-icon-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-icon-hover);
  --componentTheme---surface-alternate-interaction-icon-selected: var(--color-theme-alt-4-on-surface-alternate-interaction-icon-selected);
  --componentTheme---surface-alternate-interaction-link-link: var(--color-theme-alt-4-on-surface-alternate-interaction-link-link);
  --componentTheme---surface-alternate-interaction-link-link-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-link-link-hover);
  --componentTheme---surface-alternate-interaction-link-link-underline: var(--color-theme-alt-4-on-surface-alternate-interaction-link-link-underline);
  --componentTheme---surface-alternate-interaction-opacity-disabled: var(--color-theme-alt-4-on-surface-alternate-interaction-opacity-disabled);
  --componentTheme---surface-alternate-interaction-pressed-alpha: var(--color-theme-alt-4-on-surface-alternate-interaction-pressed-alpha);
  --componentTheme---surface-alternate-interaction-surface-disabled: var(--color-theme-alt-4-on-surface-alternate-interaction-surface-disabled);
  --componentTheme---surface-alternate-interaction-surface-fg-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-surface-fg-hover);
  --componentTheme---surface-alternate-interaction-surface-fg-selected: var(--color-theme-alt-4-on-surface-alternate-interaction-surface-text-selected);
  --componentTheme---surface-alternate-interaction-surface-hover: var(--color-theme-alt-4-on-surface-alternate-interaction-surface-hover);
  --componentTheme---surface-alternate-interaction-surface-selected: var(--color-theme-alt-4-on-surface-alternate-interaction-surface-selected);
  --componentTheme---surface-alternate-surface: var(--color-theme-alt-4-on-surface-alternate-surface);
  --componentTheme---surface-alternate-text-primary: var(--color-theme-alt-4-on-surface-alternate-text-primary);
  --componentTheme---surface-alternate-text-secondary: var(--color-theme-alt-4-on-surface-alternate-text-secondary);
  --componentTheme-on--bg-interaction-link-link: var(--color-theme-alt-4-on-bg-interaction-link-link);
  --componentTheme-on--surface-interaction-button-border: undefined;
  --neededxxx-border-selected: var(--color-general-border-dark);
}
