<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <settings>
      <setting name="XA.Foundation.Multisite.Environment" value="$(env:MULTISITE_ENVIRONMENT)" />
      <setting name="ExperienceEdge.EnableItemLanguageFallback" value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" value="true"/>
      <!--   ThumbnailsGeneration.Enabled
			  True to enable automatic thumbnails generation, otherwise false. Setting has no effect if Sitecore.Screenshots.Enabled is false.
			  Default value true.
			-->
      <setting name="Sitecore.ThumbnailsGeneration.Enabled" value="false"/>
      <setting name="ContentSearch.Update.BatchSize" value="500" />
    </settings>
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <lockAwareIntervalAsyncMaster type="Sitecore.ContentSearch.Maintenance.Strategies.LockAwareIntervalAsynchronousStrategy, Sitecore.ContentSearch">
            <param desc="interval">00:00:10</param>
          </lockAwareIntervalAsyncMaster>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
    <sites>
      <site name="shell">
        <patch:attribute name="contentStartItem">/sitecore/content/HztlFoundation</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel" resolve="true">
          <IgnoreRules hint="list:AddIgnoreRule">
            <prefix hint="media">^/-/media/.*</prefix>
          </IgnoreRules>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <layoutService>
      <!--Default 4-->
      <serializationMaxDepth>10</serializationMaxDepth>
    </layoutService>
    <api>
      <GraphQL>
        <defaults>
          <security>
            <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
              <complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
                <!--Default 15-->
                <maxDepth>50</maxDepth>
                <!--Default 2000-->
                <maxComplexity>20000</maxComplexity>
                <fieldImpact>2</fieldImpact>
              </complexityConfiguration>
            </publicService>
          </security>
        </defaults>
      </GraphQL>
    </api>
  </sitecore>
</configuration>