.sb-show-main.sb-main-padded {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sbdocs-content h1 {
  border-bottom: 5px solid black;
  margin-bottom: 2rem;
  font-size: 36px;
}

.sbdocs-content ol {
  list-style: decimal;
}
